# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.env

# Data files
data/raw/*.csv
data/raw/*.zip
data/processed/*.parquet
data/processed/*.csv

# Kaggle API
kaggle.json

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


notebooks/run_eda.py
notebooks/run_iter2.py
models/
.DS_Store